:root{
    --wyte: #fff;
    --offwyte: #efefef;
    --black: #000;
    --lytblack: #555555;
    --acent: rgb(240, 173, 49);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    height: 100vh;
}

.container{
    display: flex;
    padding: 10px;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 82%;
    margin-left: 10px;
}

main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--offwyte);
    border-radius: 10px;
    /* height: 100px; */

}

main nav .title{
    display: flex;
    flex-direction: column;
    flex:1;
    
}

main nav .title h1{
    /* text-align: center; */
}

main nav .others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

main nav .others .searchbox{
    display: flex;
    border: 2px solid;
    padding: 0 5px;
    border-radius: 15px;
    background-color: var(--wyte);
    height: 30px;
}

main nav .others .searchbox input{
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

main nav .others .searchbox img{
    width: 25px;
    height: 25px;
}

main nav .others .notify{
    display: flex;
    align-items: center;
}

main nav .others .notify .inbox{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

main nav .others .notify .avatar{
    width: 50px;
    height: 50px;
}

main nav .others .notify .hanburger{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: none;
}

main .examarea{
    background-color: var(--offwyte);
    margin-top: 20px;
    border-radius: 10px;
    height: 80%;
    padding: 20px;
}

.examarea .qbox{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.examarea .qbox h3, .examarea .qbox p{
    margin-bottom: 5px;
}

.qbox img{
    border-radius: 25px;
}

.scorebtn{
    background-color: green;
    padding: 5px 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}
/* ================================================= */

aside{
    height: 100%;
    width: 18%;
    background-color: coral;
    padding: 15px;
    background-color: var(--offwyte);
    border-radius: 10px;

}

aside .logo{
    margin-bottom: 30px;
}

aside .logo img{
    border-radius: 25%;
    width: 70px;
    height: 70px;

}

aside .menudiv ul li{
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--wyte);
    border-radius: 5px;
}

aside .menudiv ul li a{
    text-decoration: none;
    /* color: var(--black); */
}

.active{
    font-weight: 900;
    color: red;
}



/* ==================================================== */
/* Media Query */
@media screen and (max-width:567px) {
    body{
        background-color: aqua;
    }

    main nav .others .searchbox{
        display: none
    }

    main nav .others .notify .inbox {
        display: none
    }

    main nav .others .notify .avatar {
        display: none
    }

    main nav .others .notify .hanburger {
        display: block
    }

    main nav .others:hover .avatar {
        width: 50%;
        transform: translateX(100px);

    }

    main nav .others{
        justify-content:flex-end;
    }

    aside{
        width: 0;
        transform: translateX(-100px);
    }
}